
.container {
  //display: flex;
  position: relative;
  margin: 46px auto 0;
  padding-top: 10px;
  width: 100vw;
  //background-color: #e5f6f8;

  //flex-direction: column;
  //align-items: center;
  //align-content: center;
}


// .post-form {
//   display: block;
//   position: relative;
// }