.post-button {
  display: flex;
  gap: 2vw;
}

.form-item {
  display: flex;
  flex-direction: row;
  // align-items: center;
  padding: 2vw 3vw;

  &__name {
    font-size: 1.2rem;
    width: 13vw;
  }

  &__value {
    left: 20vw
  }
}

.form-tag-item {
  display: flex;
  flex-direction: column;
}

.post-tag-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.post-tag-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}