// .topic-title {
//   display: flex;
// }


.comment-button {
  background-color: rgba(229, 229, 229, 0.836);
  color: rgb(113, 113, 113);
}

.topic-container {
  padding: 1vh 1vw 1vh 1vw;
}

.top-info {
  display: flex;
  gap: 1vw;

  .top-info-right {
    display: flex;
    flex-direction: column;

    .author-name {
      //font-size: 5vw;
      font-size: 1.5rem;
    }

    .post-time {
      color: #ADB5BD;
      // font-size: 3.5vw;
      font-size: 1rem;
    }
  }

  .author-avatar {
    width: 12vw;
    height: 12vw;
  }
}


.topic-detail {
  padding: 0.8rem 0.4rem 0 0.4rem;

  .topic-title {
    font-size: 1.8rem;
    font-weight: 550;
  }
  
  .topic-content {
    font-size: 1.2rem;
    padding: 0.2rem 0 2rem 0;
  }
}
