// .topic-title {
//   display: flex;
// }


.comment-button {
  background-color: rgba(229, 229, 229, 0.7);
  color: rgb(113, 113, 113);
}

.topic-container {
  padding: 1vh 1vw 1vh 1vw;
}

.top-info {
  display: flex;
  gap: 1vw;

  .top-info-right {
    display: flex;
    flex-direction: column;

    .author-name {
      //font-size: 5vw;
      font-size: 1.5rem;
    }

    .post-time {
      color: #9ca3aa;
      // font-size: 3.5vw;
      font-size: 1rem;
    }
  }

  .author-avatar {
    width: 12vw;
    height: 12vw;
  }
}


.topic-box {
  padding: 0.8rem 0.4rem 0 0.4rem;

  .topic-title {
    font-size: 1.8rem;
    font-weight: 550;
  }

  .topic-content {
    font-size: 1.2rem;
    padding: 0.2rem 0 2rem 0;
  }

  .topic-visits {
    color: #9ca3aa;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(235, 237, 240)
  }
}

.rv-divider {
  margin: 0;
}


.comment-box {
  padding: 0.8rem 0.4rem 0 0.4rem;

  .comment-count {
    padding-bottom: 0.8rem;
  }

  .indv-comment {
    padding-bottom: 0.8rem;
    display: flex;
    gap: 1rem;
    // flex-direction: column;

    .commenter-info {}

    .comment-text {
      font-size: 1.1rem;
    }

    .comment-seperator {
      border: none;
      /* 移除默认边框 */
      width: 26rem;
      border-bottom: 1px solid rgb(235, 237, 240)
    }
  }
}