.container {
  height: 200px;
  width: 200px;
}

.discover-tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  width: 100vw;
  height: 46px;

  //background-color: #1d6b99;
  background-color: rgb(97, 143, 188);

  .tab-item {
    width: 30vw;
    text-align: center;
    background-color: #1d6b99;
    color: #FFF;
    border-radius: 3px;
    margin: 11px 0;
  }

}