.container {
  padding: 0;
  margin: 0;
}

.top-layout {
  display: flex;
  position: relative;
  // margin: 46px auto 0;
  // height: 30vh;
  width: 100vw;
  background-color: #e5f6f8;

  flex-direction: column;
  align-items: center;
  align-content: center;

  .profile-img {
    width: 80px;
    height: 80px;
    //position: absolute;
    //top: 40%;
    //left: 50%;
    //transform: translate(-50%, -30%);
  }

  .profile-username {
    text-align: center;
    font-size: 25px;
    margin-top: 8px;
  }

  .profile-social {
    width: 100vw;
    margin: 10px 0;
    justify-content: space-around;

    .rv-flexbox {
      color: #000000;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      background-clip: content-box;
    }

  }
}

.bottom-layout {
  position: relative;
  margin: 0;
  // height: 60vh; //占据下面所有空间
  //flex-grow: 1;
  background-color: #f8e5f6;
}