// .login-page {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: rgba(0, 0, 0, 0.21);
// }


// .login-card {
//   border: 1px solid;
//   border-radius: 10px;
//   margin: 0 auto;
//   max-width: 600px;
//   width: 100%;
//   padding: 20px;
// }


//登录页面样式
.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 250, 240);
  //padding: 20px;
  //flex-direction: column;

  .login-form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-button {
    margin-top: 20px;
    text-align: center;
  }
}