html {
  font-size: calc(100vw / 30); //设置根元素的字体大小1rem=视口宽度的1/40
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  font: 1rem / 1.5 Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #292d33;
  letter-spacing: 0.05rem;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  --rv-nav-bar-height: 46px;
  --rv-nav-bar-background-color: #1d6b99;
  //--rv-nav-bar-background-color: linear-gradient(135deg, rgba(34, 95, 159, 1) 20%, rgb(170, 54, 46, 0.95) 65%, rgba(249, 144, 69, 1) 98%);
  --rv-nav-bar-arrow-size: 16px;
  --rv-nav-bar-icon-color: #fff;
  --rv-nav-bar-text-color: #fff;
  --rv-nav-bar-title-font-size: var(--rv-font-size-lg);
  --rv-nav-bar-title-text-color: #fff;
  --rv-nav-bar-z-index: 1;

  // tab高度
  .rv-tabs--line .rv-tabs__wrap,
  .rv-tabs--capsule .rv-tabs__wrap {
    height: 3rem;
  }
}