.message-container{
  // display: flex;
  // flex-direction: column;
}

.chat-indv {
  padding: 0.5rem 0.7rem;
  // height: (100vh - 96px) / 10;
  // height: calc((100vh - 10rem - 50px)/10);
  gap: 0.5rem;
}

.chat-box {
  display: flex;
  gap: 0.5rem;
}

.my-chat-box {
  flex-direction: row-reverse;
}

.target-chat-box {
  flex-direction: row;
}

.chat-box-left {
  width: 10vw;
  height: 10vw;
}


.chat-box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.chat-sender-my {
  font-size: 1.2rem;
  text-align: right;
  /* 将文本对齐到右边 */
  align-self: flex-end;
  /* 将元素自身对齐到容器的右边 */
}

.chat-sender-target {
  font-size: 1.2rem;
  text-align: left;
  align-self: flex-start;
}


.chat-content {
  padding: 0.5rem 0.5rem;
  border: 1px solid rgb(212, 212, 212); //设置边框
  border-radius: 5px;
  background-color: #f1f5f9;
}

.chat-send-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  // height: 50px;
  // width: 100vw;
}

.comment-input {
  width: 50vw;
}

.comment-button {
  width: 20vw;
}
