.message-container {
  display: flex;
  flex-direction: column;

  background-image: url("/assets/bg_1.jpg");
  background-attachment: fixed;
}

.chat-indv {
  padding: 0.5rem 0.7rem;
  gap: 0.5rem;
}

.chat-box {
  display: flex;
  gap: 0.5rem;
  margin-top: 1vw;

  &__my {
    flex-direction: row-reverse;
  }

  &__target {
    flex-direction: row;
  }
}


.chat-box-left {
  width: 10vw;
  height: 10vw;
}

.chat-box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-sender {
  font-size: 1.2rem;

  &__my {
    text-align: right;
    /* 将文本对齐到右边 */
    align-self: flex-end;
    /* 将元素自身对齐到容器的右边 */
  }

  &__target {
    text-align: left;
    align-self: flex-start;
  }
}


.chat-content {
  padding: 0.5rem 0.8rem;
  border: 1px solid rgba(254, 243, 236, 1); //设置边框
  background-color: rgba(254, 249, 246, 0.7);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &__target {
    border-top-right-radius: 1rem;
  }

  &__my {
    border-top-left-radius: 1rem;
  }
}


.chat-send-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  position: sticky;
  bottom: 0;
  padding: 2vw;
  gap: 1vw;
}

.send-box-left {
  width: 75vw;
  border: solid 1px #7b94ac7a;
  border-radius: 2rem;
  height: 5.5vh;
  padding: 0 2vw;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.comment-button {
  width: 15vw;
  height: 5.5vh;
  border-radius: 2rem;
  color: #fff;
  background-color: rgba(5, 106, 150, 0.9);
  border: transparent;
  margin: 0;
  padding: 0;
}