.message-layout {
  // background-image: url('@/assets/message_nnnoise.svg');
}

.msg-box {
  display: flex;
  padding: 0.5rem 0.7rem;
  gap: 0.5rem;
  border-bottom: 1px solid rgb(235, 237, 240)
}

.msg-left {
  width: 15vw;
  height: 15vw;
}


.msg-right {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: space-around;
  padding: 0.3rem 0 0.3rem 0;
}


.msg-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .msg-sender {
    font-size: 1.3rem;
    font-weight: 540;
  }

  .msg-last-time{
    font-size: 1rem;
    color: grey;
  }
}


.msg-lastMsg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  .msg-last-content{
    font-size: 1rem;
    color: grey;
  }
}