.message-layout {
  // background-image: url('@/assets/message_nnnoise.svg');
}

.msg-box {
  display: flex;
  padding: 0.5rem;
}

.msg-avatar {
  width: 10vw;
  height: 10vw;
}

.msg-right {
  display: flex;
  flex-direction: column;
  width: 80vw;

  .msg-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .msg-lastMsg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}