.bg-box {
  //background-color: #F6F7F9;
  //background-color: #dce5f9;
  background-color: #f2f2f2;
  background-attachment: fixed;
}

.topic-container {
  padding: 1vw 0;
}

.topic-box {
  background-color: #fff;
  margin: 2vw 3vw;
  border-radius: 1.5rem;
  padding: 1rem;
}

.topic-header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  // height: 3rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 550;
  }

  &__channel {
    border-radius: 0.5rem;
    padding: 0.2rem 0.9rem;
    font-size: 0.8rem;
    color: #28558f;
    background-color: #E5EDF9;
  }
}

// 链接取消变色和下划线
a { 
  text-decoration: none; //取消下划线
  color: inherit; //继承父元素的文本颜色
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.topic-content {
  // height: 4rem;
  margin-top: 0.3rem;
  font-size: 0.7rem;

  //设置超出2行文本省略
  display: -webkit-box; //设置为弹性盒子布局
  -webkit-box-orient: vertical; //设置弹性盒子的方向为垂直方向
  -webkit-line-clamp: 2; //设置显示的行数为两行
  overflow: hidden; //隐藏溢出的文本
  text-overflow: ellipsis;
}

.topic-cover {
  height: 50%;
  width: 50%;
}

.topic-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 1vw;

  &__right {
    display: flex;
    gap: 0.5rem;
  }

}