.container {
  padding: 0;
  margin: 0;
  background-color: #F6F7F9;
}


.topic-card {
  padding: 2vw 4vw;
}

.topic-header {
  display: flex;
  align-items: center;
  gap: 1vw;

  .topic-channel {
    border-radius: 10px;
    padding: 3px 12px;
    font-size: 12px;
    color: #28558f;
    background-color: #E5EDF9;
  }

  .topic-title {
    color: #212529;
  }
}