.top-layout {
  //background: linear-gradient(to left, #525252, #3d72b4);

  //1  蓝 #364b85  橙 #b45c39  红 #97102c
  //background: linear-gradient(135deg, rgba(54, 75, 133, 1) 20%, rgba(180, 92, 57, 0.9) 60%, rgba(151, 16, 44, 1) 96%);

  //2  蓝 #225f9f  橙 #f99045
  //background: linear-gradient(135deg, rgba(34, 95, 159, 1) 10%, rgba(249, 144, 69, 1) 90%);

  //3  蓝 #225f9f  红 #cb3125  橙 #f99045
  //background: linear-gradient(135deg, rgba(34, 95, 159, 1) 15%, rgb(170, 54, 46, 0.95) 60%, rgba(249, 144, 69, 1) 95%);
  //修改版：
  background: linear-gradient(135deg, rgba(34, 95, 159, 1) 20%, rgb(170, 54, 46, 0.95) 65%, rgba(249, 144, 69, 1) 98%);

  padding: 4vh 7vw 4vh 7vw;
  // width: 100vw;

  .profile-social {
    height: 15vh;
    width: 80vw;
    display: flex;
    gap: 2vw;

    .profile-img {
      width: 24vw;
      height: 24vw;
    }

    .profile-social-right {
      table {
        width: 55vw;
        height: 10vh;
      }

      table td {
        padding: 10px;
        text-align: center;
        line-height: .3;
      }

      .top-row {
        font-size: 14pt;
        color: #ededed;
        font-weight: 600;
      }

      .bottom-row {
        font-size: 11pt;
        color: #c8c8c8;
      }

      .profile-button {

        .profile-edit-button {
          background-color: rgba(146, 172, 223, 0.354);
          border: solid #efebeb 1px;
          color: rgb(186, 202, 235);
          font-size: 10pt;
          width: 37vw;
          height: 4vh;

          left: 3vw;

          // border-radius: 3px;
          // padding: 3px;
          // text-align: center;
          // justify-content: center;
          // display: flex;
        }

        .profile-logout-button {
          background-color: rgba(146, 172, 223, 0.354);
          border: solid #ddd 1px;
          color: rgb(186, 202, 235);
          font-size: 10pt;
          width: 12vw;
          height: 4vh;
          padding: 0;

          left: 4vw;
        }
      }
    }
  }

  .profile-user {
    display: flex;
    flex-direction: column;

    width: 80vw;
    height: 20vh;
  }

  .profile-username {
    font-size: 24px;
    color: #F9F7F3;
  }

  .profile-intro {
    font-size: 11pt;
    color: #c8c8c8;
    margin-top: 1vh;
  }
}

.bottom-layout {
  //position: relative;
  // height: 60vh; //占据下面所有空间
  // background-color: #f6f7f9;
}